.mainSectionWelcome {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainSectionWelcome::before{
    content: "";
    background-image: url('../assets/welcome-bg.jpeg');
    width: 105%;
    left: -60px;
    height: 127%;
    background-size: cover;
    position: absolute;
    top: -270px;
    bottom: 0px;
    opacity: 0.4;
}

.mainSectionKnowlage {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainSectionKnowlage::before{
    content: "";
    background-image: url('../assets/knowlage.webp');
    width: 105%;
    left: -60px;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.4;
}


.mainSectionPapers {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainSectionPapers::before{
    content: "";
    background-image: url('../assets/scientific-paper-bg.jpeg');
    width: 105%;
    left: -60px;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.4;
}

.mainSectionAudiobooks {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainSectionAudiobooks::before{
    content: "";
    background-image: url('../assets/audiobook-bg.jpeg');
    width: 105%;
    left: -60px;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.25;
}

.register {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.register::before{
    content: "";
    background-image: url('../assets/register-bg.webp');
    width: 105%;
    left: -60px;
    height: 104%;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.4;
}

/* .mainSection h2 {
    position: relative;
    color: #ffffff;  
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
} */