.main {
    top: 60px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: wheat;
  }

  .main button {
    z-index: 100;
  }

  .main::before {
    content: '';
    background-image: url('../assets/scientific-paper-bg.jpeg');
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.4;
  }

  .header-container {
    width: 45vw;
    display: flex;
    align-items: center;
  }

  .main h1 {
    font-size: 3rem;
    margin: 40px 5%;
  }

  .spinner{
    margin: 10% auto;
  }

  .container {
    font-size: 1.5rem;
    width: 100%;
    min-height: 90vh;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
  }

  .flexParent {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 150px 150px 0;
  }
  
  .flexChild {
    flex: 1 0 20%;
  }

  .button_add-paper{
    position: absolute;
    left: 30vw;
    top: 4vh;
  }

  .button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid wheat;
    border-radius: 15px;
    box-sizing: border-box;
    color: wheat;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.3rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    height: 60px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    width: 300px;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-12px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  