.main {
    top: 90px;
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: wheat;
  }
  
  .main::before {
    content: '';
    background-image: url('../assets/scientific-paper-bg.jpeg');
    width: 105%;
    left: -60px;
    height: 127%;
    background-size: cover;
    position: absolute;
    top: -270px;
    bottom: 0px;
    opacity: 0.4;
  }

  .container {
    margin-left: 100px;
    font-size: 1.5rem;
    padding: 60px;
    margin-top: 40px;
  }

  .button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid wheat;
    border-radius: 15px;
    box-sizing: border-box;
    color: wheat;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    width: 300px;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-12px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }