.main {
  top: 90px;
  position: relative;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: wheat;
}

.main::before {
  content: '';
  background-image: url('../assets/library-epic.jpeg');
  width: 105%;
  left: -60px;
  height: 127%;
  background-size: cover;
  position: absolute;
  top: -270px;
  bottom: 0px;
  opacity: 0.4;
}
